$black: #0d0d0d;
$text: #d9d9d9;
$white: #ffffff;
$yellow: #b59b59;

@mixin flex() {
  display: flex;
  justify-content:center;
  align-items: center;
}

// Base
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

a,
h1,
h2,
h3,
p {
  color: $text;
  font-family: Helvetica, sans-serif;
}


.projectsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
  background: $text;
}

// Header
app-header,
app-footer {
  flex-grow: 0;
}

// Categories
.categories {
  height: 100%;
  width: 100%;
  position: relative;
}

.categories-inner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: 2;
}

.categories-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    color: white;
  }
  li {
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 1.8px;
    font-family: 'Anton', sans-serif;
    transition: all 0.5s ease-in-out;
  }
  li:hover,
  li:active {
    color: white;
  }
}

//  For active category
li.active {
  color: white;
}

// For Mobile category
.categories-inner.active {
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.494);
}


.categories-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.774);
  border: none;
  border-radius: 3px;
  font-family: 'Anton', sans-serif;
  z-index: 3;
}

// Categories For Desktop
@media screen and (min-width: 1024px) {
  .categories {
    height: initial;
    width: 100%;
    position: initial;
  }

  .categories-inner {
    display: flex;
    justify-content: center;
    position: initial;
    height: initial;
    width: 100%;
    opacity: 1;
  }

  .categories-items {
    p {
      color: $black;
    }
    position: initial;
    transform: initial;
    display: flex;
    flex-direction: column;
  }

  .categories-btn {
    display: none;
  }
}

// Main
main {
  min-height: 70vh;
  flex-grow: 1;
  margin-top: 10vh;
}

.wrap {
  @include flex();
}

.project-item {
  position: relative;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40vh;
  margin: 5rem 2rem;
  // Category Display
  opacity: 0;
  display: none;
}

  // Category Active Display
.project-item.active{
  opacity: 1;
  display: flex;
}

.desc-box {
  height: 50%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;

  .date {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    p {
      font-size: 0.8rem;
      color: $black;
    }
  }

  h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    letter-spacing: 1.6px;
    font-family: 'Anton', sans-serif;
    color: $black;
  }

  .details-box {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .details {
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .role {
    margin-right: 1.5rem;
  }

  .role,
  .skills {
    p {
      font-size: .8rem;
      font-weight: bold;
      color: $black;
    }
    li{
      font-size: .8rem;
    }
  }

  .hoverText {
    font-size: 1rem;
    font-family: 'Anton', sans-serif;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
}

.project-thumbnail {
  height: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// Hover Animation
.project-item {
  svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  rect {
    fill: none;
    stroke: $black;
    stroke-width: 1;
    stroke-dasharray: 250, 0;
    transition: all 0.35s linear;
  }
}

.project-item:hover {
  rect {
    stroke-width: 2;
    stroke-dasharray: 250, 500;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .hoverText {
    opacity: 1;
    color: $black;
  }
}

@media screen and (min-width: 768px) {
  .projectsContainer {
    padding: 3.5rem 2rem 1.5rem 2rem;
  }
  main {
    .project-item {
      margin: 2rem 5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .projectsContainer {
    padding: 3.5rem 4.5rem 1rem 4.5rem;
  }

  main {
    .project-item {
      min-height: initial;
      flex-direction: row;
      justify-content: center;
      height: 40vh;
      margin: 5rem 10rem;
    }
    .desc-box {
      height: 100%;
      width: 50%;
      justify-content: space-between;
      .date {
        align-items: flex-end;
      }

      .details-box {
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
      }
    }

    .project-thumbnail {
      height: 100%;
      width: 50%;
    }
  }
}

@media screen and (min-width: 1920px) {
  .projectsContainer {
    padding: 3.5rem 8.5rem 1rem 8.5rem;
  }
}
