<div class="projectsContainer">
  <app-header [projectsActive]="true"></app-header>

  <main>
    <div class="categories">
      <div [class.active]="isSmCategoryActive" class="categories-inner">
        <div class="categories-items">
          <p>categories</p>
          <ul class="category-list">
            <li (click)="allList()" [class.active]="activeAll">ALL PROJECTS</li>
            <li (click)="developmentList()" [class.active]="activeDevelopment">
              DEVELOPMENT
            </li>
            <li (click)="caseStudyList()" [class.active]="activeCaseStudy">
              CASE STUDY
            </li>
            <li (click)="othersList()" [class.active]="activeOther">OTHERS</li>
          </ul>
        </div>
      </div>

      <div *ngIf="smBtnShow; else smBtnClose">
        <button (click)="categoryBtn()" class="categories-btn">
          CATEGORIES
        </button>
      </div>
      <ng-template #smBtnClose>
        <button (click)="categoryBtn()" class="categories-btn">CLOSE</button>
      </ng-template>
    </div>

    <section
      *ngFor="let project of projects"
      [class.active]="project.attributes.Display"
      [routerLink]="['/project/'+ project.attributes.Category +'/',project.attributes.Slug,project.id]"
    >
      <div
        class="headline-wrap"
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection($event)"
      >
        <h2>{{ project.attributes.ClientName }}</h2>

        <div class="description-wrap">
          <div class="desctiption">
            <p>ROLES</p>
            <ul>
              <li
                *ngFor="let roles of project.attributes.roles_portfolios.data"
              >
                {{ roles.attributes.Role }}
              </li>
            </ul>
          </div>

          <div class="desctiption">
            <p>SKILL</p>
            <ul>
              <li *ngFor="let skills of project.attributes.skills.data">
                {{ skills.attributes.SkillName }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="img-wrap"
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection($event)"
      >
        <img
          [src]="
            server +
            project.attributes.Thumbnail.data[0].attributes.formats.thumbnail
              .url
          "
          [alt]="
            project.attributes.Thumbnail.data[0].attributes.alternativeText
          "
        />
      </div>
    </section>
  </main>

  <app-footer></app-footer>
</div>
