<!-- Home Header -->
<p #desc class="desc">Be active.<br />Be curious.<br />Be human.</p>
<div #slider class="slider"></div>

<div #homeContainer class="homeContainer">
  <header>
    <div class="language">
      <button aria-label="English">EN</button>
      <button aria-label="Japanese">JP</button>
    </div>
    <div #headline class="headline">
      <div #logo id="logo">
        <a routerLink="">
          <img src="../../assets/logo.svg" alt="" />
        </a>
      </div>
      <div class="bio">
        <div class="bio-heading">
          <h1>YUKA YAMAMOTO</h1>
          <h1>Full-Stack Web Developer</h1>
        </div>
        <div class="bio-summary">
          <p>
            Hi There. My name is Yuka Yamamoto.<br />
            I'm looking for a full-time position as a Junior Full-Stack Web
            Developer in Canada. <br />I would like to help to make your
            experience wonderful.
          </p>
        </div>
      </div>
    </div>
  </header>

  <main #main>
    <div #container id="Canvascontainer" class="Canvascontainer">
      <canvas #myCanvas id="myCanvas"></canvas>
      <ul class="row">
        <li #projects class="col-sm-12 col-md-6 projects">
          <a class="links">PROJECTS</a>
        </li>
        <li #about class="col-sm-12 col-md-6 about">
          <a class="links">ABOUT</a>
        </li>
      </ul>
    </div>
  </main>

  <footer #footer>
    <div class="contact">
      <ul #contact>
        <li><a href="mailto:yukayamamoto0820@gmail.com">Email</a></li>
        <li>
          <a
            href="https://www.linkedin.com/in/yuka-yamamoto-7a422421b/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/yamamoto-yuka?tab=repositories"
            target="_blank"
            >Github</a
          >
        </li>
      </ul>
    </div>
    <small>&copy;Yuka Yamamoto. 2022.</small>
  </footer>
</div>
