@import "../../styles.scss";

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1.5rem;
  background: $bg;
}

header {
  flex-grow: 0;
  position: relative;
}

.language {
  position: absolute;
  top: 0;
  right: 0;
  button {
    border: none;
    background-color: transparent;
  }
  button:last-child {
    padding-left: 1rem;
  }
  button:hover,
  button:active {
    @include catHoverActive();
  }
  button:before,
  button:after {
    @include catAfterBefore($border-color: $black);
  }
  button:hover:before,
  button:hover:after {
    @include catHoverAfterBefore($border-color: $black, $width: 100%);
  }
  button:hover:before {
    @include catHoverBefore($width: 100%);
  }
}

.headline {
  @include centerCenter($j: space-between);
  flex-direction: column;
  color: $black;
  #logo {
    width: 100px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .bio {
    padding-top: 2.5rem;
    h1 {
      font-size: 1rem;
      font-weight: bold;
      font-family: "Sora", sans-serif;
    }
    .bio-summary {
      padding-top: 0.5rem;
      p {
        font-size: 0.8rem;
        font-weight: 200;
      }
    }
  }
}

main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .Canvascontainer {
    height: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 7px 21px 0px rgba(0, 0, 0, 0.55);
    #myCanvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 6px 14px 0px rgb(0 0 0 / 42%);
    }
    ul {
      cursor: pointer;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 1.5rem;
      li:first-child {
        padding-bottom: 3rem;
      }
      a {
        font-family: "Sora", sans-serif;
        color: #fff;
        transition: all 1s ease-in-out;
      }
      a:hover,
      a:active {
        @include catHoverActive();
      }
      a:after,
      a:before {
        @include catAfterBefore();
        transition: all 1s ease-in-out;
      }
      a:hover:after,
      a:hover:before {
        @include catHoverAfterBefore();
      }
      a:hover:before {
        @include catHoverBefore();
      }
    }
  }
}

.desc {
  position: absolute;
  top: 60%;
  left: 30%;
  color: $black;
  font-size: 40px;
  transform: translate(-30%, -60%);
  z-index: 10;
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  background: $black;
  opacity: 0;
  z-index: 5;
}

footer {
  flex-grow: 0;
  .contact {
    @include centerCenter($j: flex-end);
    ul {
      @include centerCenter();
      width: fit-content;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      li {
        font-size: .8rem;
        font-weight: bold;
        a {
          color: $black;
          transition: all 0.5s ease-in-out;
        }
        a:hover,
        a:active {
          color: white;
        }
      }
      li:nth-child(2) {
        margin: 0 1rem;
      }
    }
  }
}

small {
  margin-top: 2rem;
  @include centerCenter();
}

@media screen and (min-width: 768px) {
  .homeContainer {
    padding: 3.5rem 1.5rem;
  }

  .desc {
    font-size: 50px;
  }

  .headline {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    #logo {
      width: 15%;
      margin-right: 3rem;
      padding-top: 0.2rem;
    }
    .bio {
      width: 85%;
      padding-top: initial;
      .bio-summary {
        padding-top: 1rem;
      }
    }
  }

  main {
    .Canvascontainer {
      ul {
        flex-direction: row;
        font-size: 3.5rem;
        li:first-child {
          padding-bottom: initial;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .homeContainer {
    padding: 3.5rem 4.5rem 1rem 4.5rem;
  }

  .desc {
    font-size: 60px;
  }

  footer {
    .contact {
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 1920px) {
  .homeContainer {
    padding: 3.5rem 8.5rem 1rem 8.5rem;
  }

  .desc {
    font-size: 65px;
  }
  .headline {
    padding: 5rem 0 5rem 0;
    #logo {
      width: 10%;
    }
    .bio {
      width: 90%;
    }
  }

  main {
    .Canvascontainer {
      ul {
        font-size: 4.5rem;
      }
    }
  }

  footer {
    .contact {
      li {
        margin: 0 1.5rem 0 0;
        font-size: 1.2rem;
      }
    }
  }
}
