<div class="flexContainer">
  <app-header [aboutActive]="true"></app-header>
  <main>

      <section class="wrap">
        <div class="about-wrap wrap">
          <p>
            I am a <br />
            Front-end Developer <br />
            who:
          </p>
          <div class="about-items">
            <ul>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
              <li>- loves a challengein enviroments</li>
            </ul>
          </div>
          <div class="resumeLink">
            <a href="">
            <p>VIEW RESUME</p>
          </a>
          </div>
        </div>

        <div class="brand-gif wrap">

        </div>
 
      </section>


  </main>
  <app-footer></app-footer>
</div>