$black: #0d0d0d;
$offWhite: #d9d9d9;
$white: #ffffff;
$yellow: #b59b59;

@mixin flex() {
  display: flex;
  justify-content:center;
  align-items: center;
}

// Base
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

a,
h1,
h2,
h3,
p {
  font-family: Helvetica, sans-serif;
}


.flexContainer {
  display: flex;
  flex-direction: column;
  background: $offWhite;
}

// Header
app-header,
app-footer {
  flex-grow: 0;
}

main{
  min-height: 100vh;
  flex-grow: 1;
  margin-top: 8vh;
}

.wrap{
  @include flex();
}

section {
  min-height: 80vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 2rem;
}

h3{
  width: 100%;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.6px;
}

.about-box{
  width: 100%;
  flex-direction: column;
}

.about-item {
  flex-direction: column;
  margin-bottom: 2rem;
  .about-items {
    margin-bottom: 3rem;
    .about-tittle{
      margin-bottom: .5rem;
      font-size: 1rem;
      letter-spacing: 2.3px;
      font-family: 'Anton', sans-serif;
    }
    .about-desc{
      margin-bottom: 1rem;
      font-size: .8rem;
      letter-spacing: 1.1px;
    }
  }
}

.resumeLink{
  p{
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    color: $black;
    transition:color .3s ease-in-out;
  }
  p:hover{
    -webkit-text-stroke: 1.5px $black;
    color: transparent;
  }
}

.brand-gif{
  height: 80vh;
  width: 100%;
  background-color: aquamarine;
}


.skill-frontEnd,
.skill-backEnd,
.skill-design{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.skill-frontEnd,
.skill-backEnd{
  margin-bottom: 3rem;
}

.skill-title{
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.6px
}

.skill-name{
  font-size: 1rem;
}

.skill{
  width: 100%;
  margin: 1rem 0;
}

.skill-info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .icon-wrap{
    width: 20px;
    margin-right: 1rem;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}


.skill-percentage{
  opacity: 0;
  transition: opacity .6s;
}

.skill-bar-container{
  height: 15px;
  position: relative;
  background-color: $white;
  overflow: hidden;
}

.skill-bar{
  height: 80%;
  width: 0;
  position: relative;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  background-color: $black;
  transition: width 3s cubic-bezier(0.22, 1, 0.36, 1);
}


@media screen and (min-width: 768px) {

  .about-box{
    flex-direction: row;
  }

  .about-item {
    width: 50%;
    flex-direction: column;
    margin-bottom: 0;
    .about-items {
      margin-bottom: 3rem;
      padding:0 1.5rem;
    }
  }

  .brand-gif{
    height: initial;
    min-height: 50vh;
    width: 50%;
  }



}

@media screen and (min-width: 1024px) {
  section {
    padding: 2rem 10rem;
  }
  
  .about-item {
    .about-items {
      padding:0 3.5rem;
    }
  }


  .brand-gif{
    min-height: 70vh;
  }


}

@media screen and (min-width: 1920px) {
  section {
    padding: 5rem 20rem;
  }
}
