@import "../../styles.scss";

// Header
header {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
}
.header-inner {
  height: inherit;
  position: relative;
  height: 100%;
  @include centerCenter();
  justify-content: space-around;
}
.header-title {
  height: 100%;
}

#logo {
  width: 35%;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

nav {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.nav-items {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: $black;
  }
  a:hover,
  a:active {
    @include catHoverActive();
  }
  a:after,
  a:before {
    @include catAfterBefore($border-color: $black);
    transition: all 1s ease-in-out;
  }
  a:hover:after,
  a:hover:before {
    @include catHoverAfterBefore($border-color: $black, $width: 100%);
  }
  a:hover:before {
    @include catHoverBefore($width: 100%);
  }
  .nav-item:last-child {
    a {
      margin-bottom: 0;
    }
  }
}

.hamburger {
  height: 100%;
  width: 48px;
  background-color: transparent;
  border-color: transparent;
  z-index: 10;
  span {
    height: 1px;
    width: 100%;
    position: relative;
    display: block;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    margin: 8px 0;
  }
  span:nth-child(3) {
    top: 0;
  }
  span.white {
    background-color: $bg;
  }
}

nav.active {
  transform: translateX(0);
  background-color: $bg;
}

.hamburger.active {
  span {
    background-color: $black;
    transition: all 0.5s ease-in-out;
  }
  span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1024px) {
  header {
    position: absolute;
  }

  #logo {
    height: 100%;
    width: 50%;
  }
  .header-title {
    margin-bottom: 0;
  }
  nav {
    position: initial;
    transform: initial;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .nav-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    a {
      margin-bottom: 0;
      font-size: 1rem;
      color: white;
    }
    a:after,
    a:before {
      @include catAfterBefore($border-color: $bg);
      transition: all 1s ease-in-out;
    }
    a:hover:after,
    a:hover:before {
      @include catHoverAfterBefore($border-color: $bg, $width: 100%);
    }
    a:hover:before {
      @include catHoverBefore($width: 100%);
    }
    .nav-item:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }
  .hamburger {
    display: none;
  }
}
