<main>
  <div #container class="hero-container">
    <canvas #myCanvas id="myCanvas"></canvas>

    <div class="top-nav absolute-box" >
      <ul>
        <li><a href="">PROJECTS</a></li>
        <li><a href="">ABOUT</a></li>
      </ul>
    </div>

    <div class="headline absolute-box">
      <div class="title">
        <h1>YUKA YAMAMOTO</h1>
        <h2>Front-end Developer</h2>
      </div>

      <div class="description">
        <p>Hi There. My name is Yuka Yamamoto.</p>
        <p>
          I'm looking for a full-time position as a Junior Full-Stack Web
          Developer in Canada.
        </p>
        <p>I would like to help to make your experience wonderful.</p>
      </div>
    </div>

    <div class="logo absolute-box">
      <a href="">
        <img src="../../assets/logo_white.svg" alt="">
      </a>
    </div>

    <div class="contact absolute-box">
      <a href=""><p>GET IN TOUCH</p></a>
    </div>

  </div>
</main>
