<div class="home-container">
  <app-header [textWhite]="true"></app-header>
  <main>
    <div class="hero-container">
      <div #container class="canvas-container">
        <canvas #myCanvas id="myCanvas"></canvas>

        <div class="headline">
          <h2>Full-stack Developer</h2>
          <h1>YUKA YAMAMOTO</h1>
        </div>

        <div class="scroll-nav">
          <p>SCROLL TO EXPLORE</p>
        </div>
      </div>

      <div class="nav">
        <div class="line-top">
          <div class="verticalLine-wrap">
            <div class="box-l"></div>
            <div class="box-r"></div>
          </div>
        </div>

        <div class="resume-container">
          <div class="resume-warp">
            <a #resumeText>
              VIEW RESUME VIEW RESUME VIEW RESUME VIEW RESUME VIEW RESUME VIEW
              RESUME
            </a>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="heading-box">
        <h3>WORK</h3>
      </div>

      <div class="work-item">
        <div class="work-wrap">
          <div class="work-date">
            <p>Case Study</p>
            <p>May/22 - June/22</p>
          </div>
          <h2>BioGeek</h2>

          <div class="work-detail-wrap">
            <div class="work-detail">
              <div class="work-role">
                <p>Role</p>
                <ul>
                  <li>Branding</li>
                  <li>Development</li>
                  <li>Management</li>
                </ul>
              </div>

              <div class="work-skills">
                <p>Skills</p>
                <ul>
                  <li>Angular</li>
                  <li>Strapi</li>
                  <li>MySQL</li>
                </ul>
              </div>
            </div>

            <p class="work-hovertext">Click More Detail</p>
          </div>
        </div>

        <div class="work-img">
          <img src="../../assets/projects/biogeek_thubmnail.jpg" alt="" />
        </div>

        <svg>
          <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>
      </div>

      <div class="work-item">
        <div class="work-wrap">
          <div class="work-date">
            <p>Case Study</p>
            <p>May/22 - June/22</p>
          </div>
          <h2>BioGeek</h2>

          <div class="work-detail-wrap">
            <div class="work-detail">
              <div class="work-role">
                <p>Role</p>
                <ul>
                  <li>Branding</li>
                  <li>Development</li>
                  <li>Management</li>
                </ul>
              </div>

              <div class="work-skills">
                <p>Skills</p>
                <ul>
                  <li>Angular</li>
                  <li>Strapi</li>
                  <li>MySQL</li>
                </ul>
              </div>
            </div>

            <p class="work-hovertext">Click More Detail</p>
          </div>
        </div>

        <div class="work-img">
          <img src="../../assets/projects/biogeek_thubmnail.jpg" alt="" />
        </div>

        <svg>
          <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>
      </div>

      <div class="work-btn-wrap">
        <button class="more-btn home-btn all" role="button">
          <span class="text">See All Projects</span
          ><span>Thanks for your interest!</span>
        </button>
      </div>

      <div class="line">
        <div class="verticalLine-wrap">
          <div class="box-l"></div>
          <div class="box-r"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="heading-box">
        <h3>ABOUT ME</h3>
      </div>
      <div class="about-wrap">
        <p>
          I am a <br />
          Front-end Developer <br />
          who:
        </p>
        <div class="about-items">
          <ul>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
            <li>- loves a challengein enviroments</li>
          </ul>
        </div>
      </div>
      <div class="line">
        <div class="verticalLine-wrap">
          <div class="box-l"></div>
          <div class="box-r"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="heading-box">
        <h3>SKILLS</h3>
      </div>


        <div class="container__progressbars">
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-html shadow-html"> </circle>
            </svg>
            <span class="progressbar__text shadow-html">HTML</span>
          </div>
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-css shadow-css"> </circle>
            </svg>
            <span class="progressbar__text shadow-css">CSS</span>
          </div>
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-scss shadow-scss"> </circle>
            </svg>
            <span class="progressbar__text shadow-scss">SCSS</span>
          </div>
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-js shadow-js"> </circle>
            </svg>
            <span class="progressbar__text shadow-js">JavaScript</span>
          </div>
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-ts shadow-ts"> </circle>
            </svg>
            <span class="progressbar__text shadow-ts">TypeScript</span>
          </div>
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-node shadow-node"> </circle>
            </svg>
            <span class="progressbar__text shadow-node">Node.js</span>
          </div>
      
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-react shadow-react"> </circle>
            </svg>
            <span class="progressbar__text shadow-react">React.js</span>
          </div>
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-angular shadow-angular"> </circle>
            </svg>
            <span class="progressbar__text shadow-angular">Angular.js</span>
          </div>
          <div class="progressbar">
            <svg class="progressbar__svg">
              <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-vue shadow-vue"> </circle>
            </svg>
            <span class="progressbar__text shadow-vue">Vue.js</span>
          </div>
        </div>



      <div class="icon-wrap"></div>
      <div class="line">
        <div class="verticalLine-wrap">
          <div class="box-l"></div>
          <div class="box-r"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="heading-box">
        <h3>TESTIMONIALS</h3>
      </div>
      <div class="tverticalLine-wrap">
        <div class="testimonials-item"></div>
        <div class="testimonials-item"></div>
      </div>
      <div class="heading-box">
        <div class="line"></div>

        <div class="verticalLine-wrap">
          <div class="box-l"></div>
          <div class="box-r"></div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
