@import "../../styles.scss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");

$black: #0d0d0d;
$bg: #d9d9d9;

a,
h1,
h2,
h3,
p,
li {
  font-size: 1rem;
  color: $bg;
}

a,
h1,
h2,
h3 {
  font-family: "JetBrains Mono", sans-serif;
}

p,
li {
  font-family: Helvetica, sans-serif;
}

.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1.5rem;
}

app-header,
app-footer {
  flex-grow: 0;
}

main {
  flex-grow: 1;
  background-color: $bg;
  overflow: hidden;
  .hero-container {
    position: relative;
    z-index: 1;
  }

  #myCanvas,
  .headline,
  .scroll-nav,
  .line-top,
  .resume-container {
    position: absolute;
  }

  .hero-container {
    height: 100vh;

    #myCanvas {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
    }

    .headline {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      h1 {
        font-size: 3rem;
      }
    }

    .scroll-nav {
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      p {
        font-size: 0.8rem;
      }
    }
  }

  .line-top {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .resume-container {
    top: 90%;
    transform: translateY(-50%);

    .resume-warp {
      white-space: nowrap;
      overflow: hidden;
      a {
        margin: 0;
        padding: 0;
        display: inline-block;
        font-size: 3rem;
        -webkit-text-stroke: 1px $bg;
      }
    }
  }

  // Vertical Line
  .verticalLine-wrap {
    display: flex;
  }
  .verticalLine-wrap .box-l {
    height: 35vh;
    position: relative;
    flex-grow: 1;
    margin-right: 2em;
  }
  .verticalLine-wrap .box-r {
    flex-grow: 1;
  }
  .verticalLine-wrap .box-l::after {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 1px;
    height: 100%;
    background-color: $bg;
  }

  // Section
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .heading-box {
      width: 100%;
      display: flex;
    }

    .work-heading {
      margin-top: 15vh;
    }

    h3 {
      text-align: end;
      width: 50%;
      font-size: 3rem;
    }
  }

  section:nth-of-type(even) {
    .heading-box {
      justify-content: flex-end;
    }
    h3 {
      text-align: initial;
    }
  }

  .work-detail-wrap,
  .work-wrap,
  .work-date,
  .work-item,
  .work-detail,
  .work-btn-wrap,
  .about-wrap,
  .about-wrap p,
  .about-items,
  .skills-container,
  .circular-progress {
    @include centerCenter();
  }

  .work-item {
    min-height: 55vh;
    margin: 2rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .work-wrap,
  .work-img {
    height: 50%;
  }

  .work-wrap {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;

    .work-date,
    .work-detail-wrap {
      justify-content: space-between;
      align-items: flex-start;
    }

    .work-detail-wrap {
      flex-direction: column;
    }

    .work-detail {
      padding-bottom: 1rem;
    }

    .work-date {
      width: 100%;
      p {
        font-size: 0.8rem;
      }
      h2 {
        padding: 1rem 0;
        font-size: 1.5rem;
      }
    }

    .work-role,
    .work-skills {
      p {
        font-weight: bold;
      }
    }
    .work-role {
      margin-right: 1.5rem;
    }

    .work-hovertext {
      font-size: 1rem;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  .more-btn.home-btn {
    border: 1px solid $bg;
    color: $bg;
  }
  .more-btn.home-btn span:last-child {
    color: $black;
  }
  .more-btn.home-btn:after {
    background-color: $bg;
  }

  .work-img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .work-btn-wrap {
    margin-bottom: 2rem;

    .all {
      width: fit-content;
    }
  }

  .work-item {
    position: relative;
    cursor: pointer;
  }

  .work-item {
    svg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    rect {
      fill: none;
      stroke: #fff;
      stroke-width: 1;
      stroke-dasharray: 250, 0;
      transition: all 0.35s linear;
    }
  }

  .work-item:hover {
    rect {
      stroke-width: 2;
      stroke-dasharray: 250, 500;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .work-hovertext {
      opacity: 1;
    }
  }

  // About
  .about-wrap {
    padding: 5rem 0;
    flex-direction: column;
    p,
    .about-items {
      height: inherit;
    }
    p {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    .about-items {
      li {
        font-size: 1.2rem;
      }
    }
  }

  // Skills
  .skills-container {
    flex-wrap: wrap;
  }
  .circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .circular-progress::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: $black;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    font-size: 1rem;
    color: $bg;
  }
}

@media screen and (min-width: 768px) {
  main {
    .work-item {
      min-height: initial;
      height: 20vh;
      flex-direction: row;
      justify-content: center;
      margin: 2rem 5rem;
    }

    .work-wrap,
    .work-img {
      height: 100%;
      width: 50%;
    }

    .work-wrap {
      justify-content: space-between;
      .work-date,
      .work-detail-wrap {
        align-items: flex-end;
      }

      .work-detail-wrap {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    .work-item {
      height: 35vh;
      margin: 5rem 15rem;
    }
  }
}
