@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

$black: #0d0d0d;
$bg: #d9d9d9;

a,
h1,
h2,
h3,
p,
li {
  font-size: 1rem;
  color: $bg;
}

h1,
h2,
h3{
  font-family: "JetBrains Mono", sans-serif;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1.5rem;
}

app-header,
app-footer {
  flex-grow: 0;
}

main {
  flex-grow: 1;
  background-color: #000000;

  .canvas-container,
  .nav {
    position: relative;
    overflow: hidden;
  }

  #myCanvas,
  .headline,
  .scroll-nav {
    position: absolute;
    text-align: center;
  }

  .canvas-container {
    height: 80vh;

    #myCanvas {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .headline {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        border-top: 1px solid $bg;
        border-bottom: 1px solid $bg;
        font-size: 3rem;
      }
    }

    .scroll-nav {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      p {
        font-size: 0.8rem;
      }
    }
  }

  .nav {
    height: 30vh;

    .line-top,
    .resume-container {
      position: absolute;
    }

    .line-top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .resume-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .resume-warp {
        white-space: nowrap;
        overflow: hidden;
        a {
          margin: 0;
          padding: 0;
          display: inline-block;
          font-size: 3rem;
          -webkit-text-stroke: 1px $bg;
        }
      }
    }
  }

  // Vertical Line
  .verticalLine-wrap {
    display: flex;
  }
  .verticalLine-wrap .box-l {
    height: 30vh;
    position: relative;
    flex-grow: 1;
    margin-right: 2em;
  }
  .verticalLine-wrap .box-r {
    flex-grow: 1;
  }
  .verticalLine-wrap .box-l::after {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 1px;
    height: 100%;
    background-color: $bg;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .heading-box {
      width: 100%;
      display: flex;
    }
    h3 {
      text-align: end;
      width: 50%;
      font-size: 2rem;
    }
  }

  section:nth-of-type(even) {
    .heading-box {
      justify-content: flex-end;
    }
    h3 {
      text-align: initial;
    }
  }
}
