@import '../app.component.scss';

.contactContainer {
  flex-direction: column;
  background-color: $offWhite;
  overflow: hidden;
}

app-header,
footer {
  flex-grow: 0;
}

.wrap {
  @include flex();
}

main {
  min-height: 82vh;
  margin-top: 8vh;
  padding: 2rem 2rem;
  @include flex();
  flex-grow: 1;
  flex-direction: column;
  .desc-wrap {
    flex-direction: column;
    text-align: center;
    h2 {
      font-size: 3rem;
      letter-spacing: 5px;
      font-family: "Anton", sans-serif;
      color: $black;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      color: $black;
    }
    ul {
      width: fit-content;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      li {
        font-size: 1rem;
        font-weight: bold;
        a {
          letter-spacing: 5px;
          font-family: "Anton", sans-serif;
          color: $black;
          transition: all 0.5s ease-in-out;
        }
        a:hover,
        a:active {
          font-weight: bold;
          color: $yellow;
        }
      }
      li:nth-child(2) {
        margin: 0 1rem;
      }
    }
  }
  .form-wrap {
    padding-top: 3rem;
    input {
      padding: 10px;
    }
    button {
      margin-top: 1rem;
      --bs-btn-border-radius: none;
    }
  }

  .success-message{
    span{
      font-family: "Anton", sans-serif;
    }
  }
}

footer {
  height: 10vh;
  small {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 5rem 5rem;
    .desc-wrap {
      h2 {
        font-size: 4rem;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 3rem 10rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .desc-wrap {
      width: 30%;
      h2 {
        font-size: 5rem;
      }
    }
    .form-wrap {
      width: 60%;
    }
  }
}
